@import "styles/header.css";
@import "styles/img.css";
@import "styles/keep.css";
@import "styles/loader.css";
@import "styles/main-container.css";

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}





