header {
    display: flex;
    border-bottom: 1px solid gainsboro;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}


.left-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.center-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-string {
    border: 1px solid #cccccc; 
    border-radius: 3px;
    height: 32px;
    width: 300px;
    color: #2C2D2E;
    font-weight: 400;
    font-family: 'Roboto';
}

.keep {
    display: flex;
    align-items: center;
}